---
import Portal from "../components/Portal.astro";
import Outlet from "../components/Outlet.astro";
---

<html lang="en">
  <body>
    <h1>Astro Portals example</h1>

    <div>
      <Portal>
        <p>This is inside the portal</p>
      </Portal>
    </div>

    <div>
      <Outlet />
    </div>
  </body>
</html>
