---
import Portal from "../components/Portal.astro";
import Outlet from "../components/Outlet.astro";
---

<html lang="en">
  <body>
    <h1>Astro Portals example</h1>

    <main style={{ width: "300px" }}>
      <fieldset style={{ marginBottom: "10px" }}>
        <legend> portal </legend>

        <Portal id="test">
          <p>portal content</p>
        </Portal>
      </fieldset>

      <fieldset>
        <legend> outlet </legend>

        <Outlet id="tes" />
      </fieldset>
    </main></body
  >
</html>
